* { 
    padding: 0; 
    margin: 0; 
    font-family: 'Lato', sans-serif;
    color: black;

}

/* @import url("https://fonts.googleapis.com/css?family=Lato");  */

.hero-banner {
  background: url(images/hero-waterfall-bg.png),
    url(images/hero-space-bg-this.png), url(images/hero-pillars-bg-best.png),
    url(images/hero-main-bg.png);
  height: 90vh;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  z-index: -99999;
  animation: parallax_bg linear 40s infinite;
}
  
  
  
  @keyframes parallax_bg {
    100% {
      background-position-y: -1200px, 1000px, 300px, 0px;
    }
  }
  
  @media screen and (max-width: 350px) {
    .hero-banner {
  display: none;
    }
  }


  body {
    background-color: #000000;
    /* height: 100%;
    width: 100%; */
  }
  img {
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
  }

  h1 {
    color:white;
    width: 50vw;
    padding:10px;
    margin:0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
  }
  

#track {
  position: relative;
  border-bottom: 1px solid white;
  width: 100vw;
  
}

#outer {
  height: 100%;
  margin-left: 12.5%;
  position: absolute;
  top: 0;
  /* width: 100%; */
}

#inner {
  color: #fff;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.bg {
  /* width: 100vw; */
}

