* { 
    padding: 0; 
    margin: 0; 
    font-family: 'Lato', sans-serif;
    color: black;
}


.wrapper {
display: flex;
flex-direction: column;
    /* background-color: red; */
    /* justify-content: center; */
    align-items: center;
}

h2 {
    font-size: 1.25rem;
    font-weight: 300;
}

.me {
    padding:10px;
    height: 150px;
    border-radius: 10%;
}

.pillars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center; */
}